@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.mySwiper {
    width: 100%;
}
.mySwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-hero {
    font-family: "Manrope", sans-serif;
    width: 100%;
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    isolation: isolate;
    position: relative;
}
.section-hero:before, .section-hero::before {
    background-color: rgb(21 21 21 / 50%);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
}
.section-hero .btn.btn-brand-secondary {
    margin: 20px auto 0;
    font-size: 14px;
    gap: 4px;
    border-radius: 8px;
    line-height: 24px;
    padding: 10px 18px 10px 10px;
}
.section-hero .btn.btn-brand-secondary img {
    width: 20px;
}
.section-hero .container {
    padding-top: 150px;
    padding-bottom: 135px;
    position: relative;
    z-index: 12;
}
.mySwiper .swiper-button-next, 
.mySwiper .swiper-button-prev {
    background-color: transparent;
    font-size: initial;
}
.mySwiper .swiper-button-next {
    right: 60px;
}
.mySwiper .swiper-button-prev {
    left: 60px;
}
.mySwiper .swiper-button-next:after,
.mySwiper .swiper-button-prev:after {
    font-size: 30px;
    color: #fff;
}
h1, h2, h3, h4, h5, h6, .heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    text-wrap: pretty;
}
h2, .heading-2 {
    font-size: 52px;
    line-height: 72px;
}
h4, .heading-4 {
    font-size: 36px;
    line-height: 48px;
}
h6, .heading-6 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    color: #959595;
}
.section-hero h2, .section-hero .heading-2 {
    color: #FFFFFF;
    font-size: 80px;
    line-height: 1.05;
    font-weight: 900;
    margin-top: 20px !important;
    margin-bottom: 15px !important;
    text-transform: uppercase;
}
.section-hero h6, .section-hero .heading-6 {
    color: #FFFFFF;
}
.btn.btn-brand-secondary {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    line-height: 26px;
    padding: 8px 20px;
    border-radius: 8px;
    background-color: #fefa17;
}
.text-xl, .text-xl-medium, .text-xl-bold {
    font-size: 18px;
    line-height: 30px;
}
.text-sm, .text-sm-medium, .text-sm-bold {
    font-size: 14px;
    line-height: 22px;
}
.text-xs, .text-xs-medium, .text-xs-bold {
    font-size: 12px;
    line-height: 18px;
}
.text-xs-bold, .text-sm-bold, .text-md-bold, .text-lg-bold, .text-xl-bold {
    font-weight: 700 !important;
}
.neutral-1000 {
    color: #000000;
}
.neutral-500 {
    color: #737373;
}
.section-destination {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-featured {
    position: relative;
    padding-top: 40px;
    padding-bottom: 60px;
}
.section-offer {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
}
.section-offer-img img {
    max-width: 100%;
    border-radius: 16px;
}
.swiper-button-prev, .swiper-button-next {
    height: 40px;
    width: 40px;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    background-color: #e4e6e8;
}
.card-popular-destination {
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 8px;
}
.card-popular-destination .card-image {
    display: table;
    margin: 0px;
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.4s ease;
}
.card-popular-destination .card-image img {
    display: block;
    height: 100%;
    width: 100%;
}
.card-popular-destination .card-info {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.61) 0%, rgba(6, 6, 6, 0) 40%);
}
.card-popular-destination .card-info a {
    color: #FFFFFF;
}
.card-popular-destination .card-info p {
    margin: 0px;
    color: #FFFFFF;
}
.swiper-button-prev {
    left: -60px;
}
.swiper-button-next {
    right: -60px;
}
.swiper-button-next, .swiper-button-prev {
    background-color: #e4e6e8;
    font-size: 0px;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: #000000;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 0px;
}
.swiper-button-next:hover svg, .swiper-button-prev:hover svg {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.swiper-button-next:hover svg, .swiper-button-prev:hover svg {
    stroke: #FFFFFF;
}
.navbar-toggler {
    padding: 0.35rem 0.45rem;
    font-size: 1.25rem;
    line-height: 0.8;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}
#tab-featured-list {
    margin-bottom: 10px;
    justify-content: center;
    border: 0px;
    gap: 10px;
    flex-wrap: nowrap;
    overflow: auto;
    padding-bottom: 25px;
}
#tab-featured-list.nav-tabs .nav-link {
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    border: 1px solid #e4e6e8;
    background-color: #ffffff;
}
#tab-featured-list.nav-tabs .nav-link:hover {
    box-shadow: 0px 6px 22px 0px rgba(0, 0, 0, 0.09);
}
#tab-featured-list.nav-tabs .nav-link.active {
    color: #000000;
    box-shadow: 0px 6px 22px 0px rgba(0, 0, 0, 0.09);
}
.featured-tour {
    width: 100%;
    max-width: 403px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    margin-bottom: 20px;
    border: 1px solid #e4e6e8;
    background-color: #ffffff;
    transition: all 500ms ease;
}
.featured-tour .card-image {
    position: relative;
    overflow: hidden;
    height: 250px;
}
.featured-tour .card-image img {
    width: 100%;
    transition: all 500ms ease;
}
.featured-tour .card-image .label {
    position: absolute;
    z-index: 12;
    top: 22px;
    left: 25px;
    font-size: 12px;
    border-radius: 50px;
    line-height: 22px;
    font-weight: 700;
    color: #f09814;
    padding: 5px 18px;
    background-color: #ffffff;
}
.featured-tour .card-image .label.bestsale {
    color: #3dc262;
}
.featured-tour .card-image .wish {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
    background-color: rgba(255, 255, 255, 0.8196078431);
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    z-index: 12;
}
.featured-tour .card-image .wish svg {
    width: 16px;
    stroke: #383838;
}
.featured-tour .card-info {
    padding: 24px 20px 20px;
    border-radius: 0px;
    position: relative;
    margin-top: -40px;
    background-color: #ffffff;
}
.featured-tour .card-info .card-rating {
    position: absolute;
    top: -19px;
    z-index: 13;
    left: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.featured-tour .card-info .card-rating .card-right .rating {
    display: inline-block;
    padding: 2px 16px 0px 30px;
    background-color: #ffffff;
    border-radius: 50px;
    color: #000000;
    font-size: 11px;
    line-height: 18px;
    font-weight: 700;
    border: 1px solid #e4e6e8;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.07);
    background-image: url('https://travila-demos.vercel.app/assets/imgs/template/icons/star.svg');
    background-repeat: no-repeat;
    background-position: left 12px center;
}
.featured-tour .card-info .card-rating .card-right .rating span {
    font-size: 8px;
}
.featured-tour .card-info .card-title {
    color: #111111;
    margin-bottom: 8px;
}
.featured-tour .card-info .card-program {
    position: relative;
}
.featured-tour .card-info .card-program {
    position: relative;
}
.featured-tour .card-info .card-program .card-duration-tour {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.featured-tour .card-info .card-program .card-duration-tour p {
    margin-bottom: 0px;
}
.featured-tour .card-info .card-program .icon-duration {
    padding: 0px 20px 0px 22px;
    background: url('https://travila-demos.vercel.app/assets/imgs/template/icons/duration.svg') no-repeat left center;
}
.featured-tour .card-info .card-program .endtime {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.featured-tour .card-info .card-program .endtime .card-price {
    display: flex;
    align-items: flex-end;
}
.featured-tour .card-info .card-program .endtime .card-price h6 {
    font-size: 16px;
    line-height: 40px;
    margin-right: 6px;
}
.btn.btn-gray {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    line-height: 22px;
    padding: 6px 16px;
    border-radius: 50px;
    background-color: #f2f4f6;
    border: 1px solid #e4e6e8;
    font-family: "Manrope", sans-serif;
}
.featured-tour:hover {
    box-shadow: 0px 0px 14px 5px rgb(0 0 0 / 5%);
}
.featured-tour:hover .card-image > img  {
    transform: scale(1.025);
}
.featured-tour .card-info .card-title a {
    font-size: 16px;
    line-height: 1.15;
}
.featured-tour .card-info .card-title a:hover {
    color: #f09814;
}
.card-popular.card-top-destination:hover {
    cursor: pointer;
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.05);
}

.section-activities {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url('https://travila-demos.vercel.app/assets/imgs/page/activities/banner-activities-1.png');
    background-size: cover;
}
.box-list-populars {
    margin-top: 25px;
}
.card-popular.card-top-destination {
    padding: 15px;
    display: flex;
    border-radius: 16px;
    align-items: center;
    border: 1px solid #e4e6e8;
    margin-bottom: 24px;
    background-color: #ffffff;
}
.card-popular.card-top-destination .card-image {
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 18px;
    margin-bottom: 0px;
    position: relative;
}
.card-popular.card-top-destination .card-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
}
.card-popular.card-top-destination .card-info {
    position: relative;
    width: 100%;
}
.card-popular.card-top-destination .card-info .card-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 4px;
    display: block;
}
.card-popular.card-top-destination .card-info .card-meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.card-popular.card-top-destination .card-info .card-meta .text-tour {
    color: #000000;
}
.card-popular .card-info .card-meta .card-button a {
    display: inline-block;
    height: 27px;
    width: 27px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    background-color: #f2f4f6;
}
.card-popular .card-info .card-meta .card-button a svg {
    stroke: #000000;
}
.card-popular .card-info .card-meta .card-button a:hover {
    background-color: #000000;
}
.card-popular .card-info .card-meta .card-button a:hover svg {
    stroke: #ffffff;
}
.btn.btn-black-lg {
    color: #ffffff;
    background-color: #000000;
}
.btn.btn-black-lg svg {
    stroke: #ffffff;
    margin-left: 13px;
}

@media screen and (max-width: 767px) {
    .btn.btn-brand-secondary {
        padding: 8px 16px;
        font-size: 12px;
        line-height: 22px;
    }
    .btn.btn-brand-secondary img {
        width: 18px;
    }
    .section-hero {
        min-height: initial;
        background-position: 60%;
    }
    .section-destination {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-offer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-hero .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .section-activities {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-hero h2, .section-hero .heading-2 {
        margin-bottom: 6px !important;
    }
    h2, .heading-2 {
        font-size: 32px;
        line-height: 40px;
    }
    h4, .heading-4 {
        font-size: 22px;
        line-height: 40px;
    }
    h6, .heading-6 {
        font-size: 16px;
        line-height: 28px;
    }
    .text-xl, .text-xl-medium, .text-xl-bold {
        font-size: 16px;
        line-height: 24px;
    }
}