@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 16px !important;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.badge {
    padding: 6px 10px;
    font-weight: 600;
    border-radius: 4px;
    -webkit-box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.10);
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.10);
}
.badge-primary {
    color: #ffffff;
    background-color: #11a1fd;
}
.badge-success {
    color: #ffffff;
    background-color: #6ca329;
}
.badge-danger {
    color: #ffffff;
    background-color: #e81a46;
}
.img-thumb img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border: none;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 0.16);
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 0.16);
}
a {
    text-decoration: none;
}

.form-switch .form-check-input {
    cursor: pointer;
    border-radius: 20px !important;
}

.form-switch .form-check-label {
    margin: 0px !important;
}

.form-check-input:not(:checked):hover {
    background-color: initial !important;
}

.form-check-input:checked:hover:not(:disabled) {
    background-color: #0c66e4 !important;
}

.vendor-tabs .nav-tabs .nav-link {
    line-height: 2;
    padding-inline: 1.5rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-width: 120px;
    background: #e5e5e5;
    margin-right: 5px;
    border: 1px solid #e5e5e5;
}

.vendor-tabs .nav-tabs::before,
.vendor-tabs .nav-item.show .nav-tabs .nav-link::after,
.vendor-tabs .nav-tabs .nav-link.active::after {
    background: transparent;
}

.vendor-tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    opacity: 1;
    border-bottom: 0px;
    background-color: #fff;
}

.left-sidebar {
    padding-top: 20px;
    background: #1e1e2c;
    position: fixed;
    width: 250px;
    height: calc(100% - 30px) !important;
    top: 15px;
    z-index: 10;
    left: 15px;
    bottom: 15px;
    border-radius: 11px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

#navbarSupportedContent {
    background: #fff !important;
}

.topbar {
    margin-left: 263px;
    border-radius: 12px;
}

.navbar-header .navbar-brand {
    padding: 0px 15px !important;
    margin: 0 !important;
    display: block;
    width: 100%;
}

.navbar-header .navbar-brand img {
    max-width: 150px;
}

.topbar .top-navbar {
    background: #f7f7f7;
    position: relative;
    border: 0;
}

.boardCont {
    text-align: end;
}

.rightContentWrapper .col h5 {
    margin: 0;
    font-size: 18px;
    color: #181a20;
    font-weight: 500;
    line-height: 26px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.rightContentWrapper .cardRow .card {
    background-color: transparent;
}


.rightContentWrapper .col .bg-dark .myIcon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #000000;
    background: #FFFFFF;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.rightContentWrapper .col .bg-dark {
    display: flex;
    position: relative;
    border-radius: 8px;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px !important;
    border: 1px solid #efefef;
    background-color: #F7F7F7 !important;
    box-shadow: none !important;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.rightContentWrapper .col a {
    color: #181a20;
    font-weight: 400;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.rightContentWrapper .col .bg-dark:hover {
    background-color: #181A20 !important;
}
.rightContentWrapper .col .bg-dark:hover h5,
.rightContentWrapper .col .bg-dark:hover a {
    color: #FFFFFF !important;
}

.rightContentWrapper .col .bg-dark:hover .myIcon {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
}

.boardCont small {
    color: #0518e4;
    font-size: 14px;
}

.custom-card {
    overflow: hidden;
    margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: auto;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e1e1e1;
    border-radius: 0.75rem;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.05);
}
.custom-card-header {
    font-size: 16px;
    line-height: 26px;
    color: #4f4f4f;
    font-weight: 400;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
}
.custom-card + .custom-card {
    margin-top: 20px;
}

.comment-widgets .comment-row,
.page-wrapper .cardRow .card-body {
    background: #ffffff;
    border-radius: 8px;
}

.comment-widgets .comment-row {
    margin: 20px 0 0 !important;
}

.no-block {
    margin-top: 20px;
}

.btn-cyan {
    background-color: #0518e4 !important;
    border-color: #0518e4 !important;
}

.btn-danger {
    background-color: #ac3e31;
    border-color: #ac3e31;
}

.btn-success {
    background-color: #488a99;
    border-color: #488a99;
}

.progress-bar {
    background-color: #0518e4;
}

.bg-success {
    background-color: #488a99 !important;
}

.bg-info {
    background-color: #ac3e31 !important;
}

.comment-footer button {
    margin: 0 10px 0 0;
}

#main-wrapper[data-sidebartype=full] .page-wrapper {
    margin-left: 243px;
}

#main-wrapper .topbar .navbar-collapse[data-navbarbg=skin5],
#main-wrapper .topbar[data-navbarbg=skin5] {
    flex: 1;
    top: 16px;
    right: 16px;
    background: #fff;
    position: sticky;
    border-radius: 9px;
    border: 1px solid #e1e1e1;
}

nav.navbar.top-navbar.navbar-expand-md.navbar-light {
    background: #fff;
    border-radius: 8px;
    position: relative;
}

nav.navbar.top-navbar.navbar-expand-md.navbar-light:before {
    top: initial;
    left: -10px;
    width: calc(100% + 20px);
    height: 200%;
    content: '';
    position: absolute;
    background: #ffffff;
    bottom: -10px;
}

a.sidebar-link.waves-effect.waves-dark.sidebar-link {
    border-radius: 0px 8px 8px 0px;
}

a.sidebar-link.waves-effect.waves-dark.sidebar-link.active {
    background: #0518e4 !important;
}

a.sidebar-link.waves-effect.waves-dark.sidebar-link:hover {
    background: #2f3c49 !important;
}

.sidebar-nav ul li {
    list-style: none;
    padding: 5px 20px 5px 0px;
}

.page-wrapper>.container-fluid,
.page-wrapper>.container-lg,
.page-wrapper>.container-md,
.page-wrapper>.container-sm,
.page-wrapper>.container-xl,
.page-wrapper>.container-xxl {
    padding-right: 0;
}

.rounded-wrap {
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid #e9e9e9;
}
.checkbox input[type="checkbox"] {
    display: none;
}
.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-styled thead th .checkbox {
    margin: -22px 0 0;
}
.table-styled thead th, .table-styled tbody td {
    padding-inline: 4px;
}
.checkbox label {
    margin: 0;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    text-transform: capitalize;
}
.checkbox label:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.checkbox label:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 4px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #0518e4;
    border-bottom: 2px solid #0518e4;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    opacity: 0;
}
.checkbox input:checked~label:before {
    background-color: #ffffff;
}
.checkbox input:checked~label:after {
    opacity: 1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.light-small {
    display: none;
}
.mini-sidebar .light-small {
    display: initial;
}
.mini-sidebar .light-logo {
    display: none;
}
.mini-sidebar .sidebar-nav ul li {
    padding: 5px 0px 5px 0px;
}
.mini-sidebar .topbar {
    margin-left: 80px;
}
.form-group label {
    text-transform: capitalize;
}
.notification-info {
    position: relative;
    animation: swing 5s infinite linear;
    -webkit-animation: swing 5s infinite linear;
}
.count-notification {
    position: absolute;
    background: #11a1fd;
    color: #ffffff;
    display: inline-block;
    width: 6px;
    height: 5.3px;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 6px;
    right: 0;
}
.footer {
    padding: 0px 20px;
}
.faq-card .accordion-item {
    margin-bottom: 0px;
    border-bottom: 1px solid #f8f8f8;
}
.faq-card .accordion-item .accordion-button {
    font-weight: 500;
}
/* @keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    6.25% {
        transform: rotate(-2deg);
    }
    12.5% {
        transform: rotate(5deg);
    }
    18.75% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(15deg);
    }
    31.25% {
        transform: rotate(-20deg);
    }
    37.5% {
        transform: rotate(25deg);
    }
    43.75% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(35deg);
    }
    56.25% {
        transform: rotate(-30deg);
    }
    62.5% {
        transform: rotate(25deg);
    }
    68.75% {
        transform: rotate(-20deg);
    }
    75% {
        transform: rotate(15deg);
    }
    81.25% {
        transform: rotate(-10deg);
    }
    87.5% {
        transform: rotate(5deg);
    }
    93.75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
} */